
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- CSS style sheets -->
    <link rel='stylesheet' href='/Content/style.css' />
    <link rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body style="background-color: #DEDEDE;">
    <!-- <h1><%= title %></h1> -->
    <div class="mainSection">

      <%- include partials/mainNavBar.ejs %>

      <!--<div id="home" class="jumbotron displayFrame">
        <h1 class="display-4"><%= title %></h1>
      </div> !-->

      <section id="home">
        <div class="subSection">
          <br>
          <h6>Hi, my name is</h6>
          <h1><span>Hitesh</span> Dharmadhikari<span>.</span></h1>
          <p>I build things for the web and mobile.</p>
          <h4>I am a <strong>Full Stack</strong> Software Engineer based in Toronto, Canada specialized</h4>
          <h4>in building websites, apps and everything in between.</h4>
          <br><br><br>

          <a href="#contact" class="buttonContact" style="border-color:#bf5e2e; background-color:rgba(0,0,0,0); color:black">Get In Touch</a>
        
        
      </section>

      
        <!--<h1>Welcome To My About Page</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p> !-->
        <!-- <div style="width:70%; margin:auto; background-color:blue">
          <h2>01. About me</h2>
          <div class="row" >
            
            <div class="col-xs-6">  
              <h3>Hello World</h3>
              <p style="font-size:20px; color:#03225C;">Lorem ipsum dolor sit amet, </p>
            </div>
            <div class="col-xs-6" style="float:right">
              <img src="Assets/images/Hitesh_pic.png" style="height:300px; margin-left:100px;float:right" />
            </div>
          </div>
        </div>
        !-->
        
        <div id="about">
        <br><br><br><br><br><br><br><br><br>
        <section class="about-me"  style="text-align:left">
         
           <h2 class="section__title section__title--about" style="font-size:3rem"><span style="font-size:2rem; color:#bf5e2e">01.</span> About me</h2>
           <p class="section__subtitle section__subtitle--about" style="font-size:1.5rem;color:#736F6F">Full Stack Software Engineer based out of Toronto</p>
           
           <div class="about-me__body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
               exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
               exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
               exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
               exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           </div>
           
           <img src="Assets/images/Hitesh_pic.png" width="300px" height="300px" alt="Jane leaning against a bus" class="about-me__img">
        </section>
        </div>

      <div id="services">
      <br><br><br><br><br><br>
        <section class="my-services">
              <h2 class="section__title section__title--services" style="font-size:3rem;text-align: left;"><span style="font-size:2rem; color:#bf5e2e">03.</span> Services</h2>
              <div class="services">
                  <div class="service">
                      <img src="Assets/images/icons1.png" width="120px" height="120px" alt="Jane leaning against a bus" class="about-me__img">
                      <h3>Design + Development</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div> <!-- / service -->
                  
                  <div class="service">
                      <img src="Assets/images/icons2.png" width="120px" height="120px" alt="Jane leaning against a bus" class="about-me__img">
                      <h3>E-Commerce</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div> <!-- / service -->
                  
                  <div class="service">
                      <img src="Assets/images/icons3.png" width="120px" height="120px" alt="Jane leaning against a bus" class="about-me__img">
                      <h3>WordPress</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div> <!-- / service -->
              </div> <!-- / services -->
              
              <a href="#projects" class="btn serviceButton" style="border-color:#bf5e2e; background-color:rgba(0,0,0,0); color:black">Checkout my work</a>
              <!--<a href="#contact" class="buttonContact" style="border-color:#bf5e2e; background-color:rgba(0,0,0,0); color:black">Checkout my work</a> !-->
              <br><br><br>
        </section>
      </div>

      <div id="projects">
        <br><br><br><br><br><br>
        <section class="project-title">
          <h2 class="section__title section__title--services" style="font-size:3rem;text-align: left;"><span style="font-size:2rem; color:#bf5e2e">04.</span> Projects</h2>

          <div class="container">
            <div class="row">
              <div class="col-sm" style="margin-bottom: 35px;">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/sudoku_app.png" height="250px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Sudoku Solver</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/url_shortener.jpg" height="250px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">URL Shortener</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/video_app.jpg" height="250px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Video Conference App</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
              <br><br><br>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" height="200px" width="200px" src="Assets/images/blockchain.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Blockchain App</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" height="200px" width="200px" src="Assets/images/crypto.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Cryptocurrency</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/jwt.png" height="200px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">JWT Authentication</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        
        </section>
        <br><br><br>
      </div>  

      <!-- <div id="contact" class="jumbotron displayFrame">
        <h1 class="display-4">Contact</h1>
      </div> !-->
      
      <div id="contact">
      <br><br><br><br><br><br>
        <section class="my-services">
          <h2 class="section__title section__title--services" style="font-size:3rem;text-align: left;"><span style="font-size:2rem; color:#bf5e2e">05.</span> Contact</h2>
          <form>
            <div class="form-group col-lg-8" style="text-align:left">
              <label for="exampleInputName1" >Full Name</label>
              <input type="text" class="form-control input-sm" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter full name">
              <br>
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            
            
              <br>
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="eg: I want a website for my business"></textarea>
              <br>
            </div>
            <button type="submit" class="btn btn-primary" style="float:left;margin-left:15px;background-color: #bf5e2e; border-color: #bf5e2e">Submit</button>
          </form>
        </section>
        <br><br><br>
      </div>
      
      
    </div>
    <%- include partials/bottomFooter.ejs %>


    <!-- JS scripts-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
