<!-- Hello Professor, as we have discussed and agreed that I am creating a Single Page Application !-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitesh Dharmadhikari</title>
    <link rel = "icon" href="/Assets/images/portfolio_logo.png" type = "image/x-icon"> 

    <!-- CSS style sheets -->
    <link rel='stylesheet' href='/Content/style.css' />
    <link rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body>
    <div>

      <!-- Navigation Bar-->
      <%- include partials/mainNavBar.ejs %>

      <!-- Home Section-->
      <%- include partials/homeIntro.ejs %>

      <!-- About Me Section-->
      <%- include partials/aboutme.ejs %>
        
      <!-- Service Section-->
      <%- include partials/services.ejs %>

      <!-- Project Section-->
      <%- include partials/projects.ejs %>
      
      <!-- Contact Section-->
      <%- include partials/contact.ejs %>
      
    </div>

    <!-- Footer Section-->
    <%- include partials/bottomFooter.ejs %>

    <!-- JS scripts-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Smooth Scroll on Navbar button click !-->
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
